{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static "stylesheets/styles.css" %}">
    {% block head %}{% endblock %}
</head>
<body>
<header>
    <img src="{% static "assets/images/logo.svg" %}" alt="logo" class="logo">
</header>

{% block body %}
{% endblock %}

<footer>
    <span>© 2016 if.then.fund</span>
    <a href="https://if.then.fund/terms">Terms of service</a>
    <a href="https://if.then.fund/privacy">Privacy</a>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js" integrity="sha256-lZFHibXzMHo3GGeehn1hudTAP3Sc0uKXBXAzHX1sjtk=" crossorigin="anonymous"></script>
<script src="{% static "bootstrap-helpers.js" %}"></script>
<script>$(document).ajaxSend(function(event, xhr, settings) { if (!/^https?:.*/.test(settings.url)) xhr.setRequestHeader("X-CSRFToken", "{{csrf_token|escapejs}}"); });</script> <!-- {% csrf_token %} -->
{% block scripts %}
{% endblock %}
</body>
</html>  

